<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
  <!--<div class="container">-->
    <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
    <!--<div class="navbar-header">-->
      <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">-->
        <!--<span class="sr-only">Toggle navigation</span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
        <!--<span class="icon-bar"></span>-->
      <!--</button>-->
      <!--<a class="navbar-brand pull-left" href="index.html">YMMS</a>-->
    <!--</div>-->
    <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
    <!--<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">-->
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li>-->
          <!--<a href="about.html">About</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="services.html">Services</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="contact.html">Contact</a>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<a href="portfolio-1-col.html">1 Column Portfolio</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="portfolio-2-col.html">2 Column Portfolio</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="portfolio-3-col.html">3 Column Portfolio</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="portfolio-4-col.html">4 Column Portfolio</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="portfolio-item.html">Single Portfolio Item</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<a href="blog-home-1.html">Blog Home 1</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="blog-home-2.html">Blog Home 2</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="blog-post.html">Blog Post</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown">-->
          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li>-->
              <!--<a href="full-width.html">Full Width Page</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="sidebar.html">Sidebar Page</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="faq.html">FAQ</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="404.html">404</a>-->
            <!--</li>-->
            <!--<li>-->
              <!--<a href="pricing.html">Pricing Table</a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->


<!-- Modal -->
<div class="modal fade special" id="memberModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="memberModalLabel">Thank you for visiting!</h2>

      </div>
      <div class="modal-body">
        <p class="lead">This site is under construction and is coming soon!
          <BR>Bookmark us now!</p>
        <p class="lead">You will now be shown YouMakeMeSmilefs.com V1.0</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>


<div class="row">

  <div class="col-md-6">

    <img src="assets/Mom.Banner.youmakemesmile.png" alt="" class="banner">

  </div>

  <div class="row marketing-panels">
    <div class="col-lg-12">
      <h1 class="page-header text-center">
        Welcome to You Make Me Smile
      </h1>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-check"></i>Shop Amazon</h4>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="assets/Jolly%20Joker%20Pansy%20Deep%20Purple%20Orange.JPG" alt="">
          <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords=sowblessedseeds&sprefix=sowbl%2Caps&rh=i%3Aaps%2Ck%3Asowblessedseeds" class="btn btn-success"> <span class="glyphicon glyphicon-shopping-cart"></span> Shop</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-gift"></i>Shop Ebay</h4>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="assets/Aquilegia%20Blue%20Star.jpg">
          <a href="http://www.ebay.com/usr/sow_blessed_seeds" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Shop</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4><i class="fa fa-fw fa-compass"></i>Shop Etsy</h4>
        </div>
        <div class="panel-body">
          <img class="img-responsive" src="assets/Calendula%20Pink%20Surprise.jpg">
          <a href="https://www.etsy.com/shop/SowBlessedSeeds?ref=shopinfo_shophome_leftnav" class="btn btn-success"><span class="glyphicon glyphicon-shopping-cart"></span> Shop</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

</div>